<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    <header role="banner">
      <h1>Valley Insurance Agency</h1>
      <a href="https://www.facebook.com/pages/Valley-Insurance/524287094277311?fref=ts">Find us on Facebook</a>
      <strong>630-232-1640</strong>
      <address>
        422 E. State Street<br>
        Geneva, IL 60134
      </address>
      <nav role="navigation">
        {% for nav in site.data.nav %}
          {% capture url %}{{ page.url | replace: 'index.html' }}{% endcapture %}
          <a href="{{ site.baseurl }}{{ nav.href }}"{% if url == nav.href %} class="active"{% endif %}>{{ nav.text }}</a>
          {% if nav.group != null %}
            {% assign group = nav.group %}
            {% include pages_list.html %}
          {% endif %}
        {% endfor %}
      </nav>
    </header>
    <article role="main">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
    <footer role="contentinfo">
      Copyright &copy; 2013 Valley Insurance Agency 422 E. State Street Geneva IL 60124. All Rights Reserved.
      <a href="https://github.com/via-inc/via-inc.github.io"><i class="fa fa-github"></i> Hosted on Github</a>
    </footer>
  </body>
</html>
